<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SalesDB"
         connectionString="Data Source=YOUR_SERVER;Database=SalesDB;Trusted_Connection=true;TrustServerCertificate=true;"
         providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>